
.body{
    margin: 0;
}


.container {
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    height: 100%;
  }

.nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: rgb(2, 131, 170);
    height: 400px;
    width:550px;
    margin: 40px;
    border-radius: 30px;
}


.item {
    margin: 20px;
    font-size: 70px;
    color: #111111; /* Set text color */
  }
  